<%- include('./partials/header') %>

<div class="home-container text-center">
  <h1 class="home-title">Assignment Tracker</h1>
  <p class="home-subtitle">Track, manage, and organize all your assignments.</p>

  <a href="/assignments" class="btn btn-home">View Assignments</a>
</div>

<%- include('./partials/footer') %>
